/*
Default styling found here:
https://github.com/yihui/xaringan/blob/master/inst/rmarkdown/templates/xaringan/resources/default.css
*/

@import url(https://fonts.googleapis.com/css?family=Lato:bold);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Exo:bold);
@import url(https://fonts.googleapis.com/css?family=Exo);
@import url(https://fonts.googleapis.com/css?family=Muli:600,700,800);
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright:700');

/* ----- MAIN STYLING ----- */

/*
Adapted from Allison Hill's css in this workshop:
https://github.com/rstudio-education/arm-workshop-rsc2019
*/

/* Colors */

:root {
  --color-blue: #1E90FF; /* dodger blue */
  --color-orange: #FF9966; /* orange */
  --color-green: #8FC977; /* green */
  --color-red: #E74A2F; /* red */
  --color-black: #1A1917; /* black */
  --color-tan: #EAE9EA; /* tan */
  --color-gray: #696969; /* gray */
}

/* Background glow color around main slide container */
.remark-slide-scaler {
  -moz-box-shadow: 0 0 0px #000;
  -webkit-box-shadow: 0 0 0px #000;
}
/*.remark-slide-scaler {
  -moz-box-shadow: 0 0 30px #000;
  -webkit-box-shadow: 0 0 30px #000;
}*/

/* Background color of container behind slide */
.remark-slide-container {
  background-color: var(--color-gray);
}
/* Background color of slide */
.remark-slide-content {
  background-color: var(--color-tan);
}

.red {
  color: var(--color-red);
}

.orange {
  color: var(--color-orange);
}

.green {
  color: var(--color-green);
}

.blue {
  color: var(--color-blue);
}

.redinline {
  color: var(--color-red);
}

.orangeinline {
  color: var(--color-orange);
}

.greeninline {
  color: var(--color-green);
}

.blueinline {
  color: var(--color-blue);
}

/* In line code */

/* Background color for highlighted code */
.remark-code-line-highlighted {
  /*background-color: rgba(253, 255, 50, .5);*/
  background-color: rgb(206, 233, 255);
}

/* Color of inline code, i.e. `code` */
.remark-inline-code {
  color: var(--color-blue);
  background-color: rgb(220,220,220);
  border-radius: 5px; /* Rounded edges */
}
.inverse .remark-inline-code {
  color: var(--color-orange);
  background-color: transparent;
}

/* Code chunk colors */
.hljs-github .hljs {
  background: #fff;
  border-radius: 5px; /* Rounded edges */
  border: 1px solid #000;
}

/* Code block output colors */
.remark-code {
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: #fff;
  background: var(--color-gray);
}

.inverse {
  background-color: var(--color-black);
  text-shadow: 0 0 0;
}

/* https://stackoverflow.com/questions/50919104/horizontally-scrollable-output-on-xaringan-slides */

pre {
  background-color: #000;
  border-radius: 5px; /* Rounded edges */
  max-width: 100%;
  overflow-x: auto;
  margin: 0.5em 0px;
}

/* Links */

a,
a:visited {
  color: var(--color-black);
  border-bottom: 1px solid var(--color-blue);
  box-shadow: inset 0 -2px 0 var(--color-blue);
}

a:hover,
a:focus {
  color: var(--color-black);
  background: rgba(97, 172, 240, .5);
  border-bottom: none;
}

a > code {
  color: var(--color-blue);
  text-decoration: none;
}

.inverse a {
  color: #FFF;
}

/* Footer */

div.footer-large {
  position: absolute;
  bottom: 100px;
  right: 50px;
  height: 100px;
  width: 100%;
}

div.footer-small {
  background-color: var(--color-black);
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20px;
  width: 100%;
}

div.footer-small span {
  font-size: 10pt;
  color: #F7F8FA;
  position: absolute;
  left: 15px;
  bottom: 2px;
}

.remark-slide-number {
  bottom: 18px;
  opacity: 0.5;
  position: absolute;
  right: 20px;
}

/* Images */

/* from the hygge css! */

.polaroid img {
  display: block;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #111;
  -moz-box-shadow: 3px 3px 3px #111;
  box-shadow: 3px 3px 3px #111;
}

/* Add image border by default */

img {
  display: block;
  border: 1px solid #000;
}

/* No border on inverse layout */
.inverse img {
  display: block;
  border: 0px solid #000;
}

.noborder img {
  display: block;
  border: 0px solid #000;
}

.borderthick img {
  display: block;
  border: 5px solid #000;
}

.whiteborder img {
  display: block;
  border: 1px solid #fff;
}

.whiteborderthick img {
  display: block;
  border: 5px solid #fff;
}

.circle img {
  border-radius:50%;
}

.circleborder img {
  display: block;
  border: 3px solid #000;
  border-radius:50%;
}

.lil img {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* split rows*/

.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.top-left {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.top-right {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.bottom-left {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.bottom-right {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

/* 2 columns */

.cols2 {
  float: left;
  width: 49%;
}
.leftcol {
  float: left;
  width: 49%;
}
.rightcol {
  float: right;
  width: 49%;
}
.leftcol55 {
  float: left;
  width: 54%;
}
.rightcol45 {
  float: right;
  width: 44%;
}
.leftcol45 {
  float: left;
  width: 44%;
}
.rightcol55 {
  float: right;
  width: 54%;
}
.leftcol60 {
  float: left;
  width: 59%;
}
.rightcol40 {
  float: right;
  width: 39%;
}
.leftcol40 {
  float: left;
  width: 39%;
}
.rightcol60 {
  float: right;
  width: 59%;
}
.leftcol65 {
  float: left;
  width: 64%;
}
.rightcol35 {
  float: right;
  width: 34%;
}
.leftcol35 {
  float: left;
  width: 34%;
}
.rightcol65 {
  float: right;
  width: 64%;
}
.leftcol70 {
  float: left;
  width: 69%;
}
.rightcol30 {
  float: right;
  width: 29%;
}
.leftcol30 {
  float: left;
  width: 29%;
}
.rightcol70 {
  float: right;
  width: 69%;
}
.leftcol75 {
  float: left;
  width: 74%;
}
.rightcol25 {
  float: right;
  width: 25%;
}
.leftcol25 {
  float: left;
  width: 25%;
}
.rightcol75 {
  float: right;
  width: 74%;
}
.leftcol80 {
  float: left;
  width: 79%;
}
.rightcol20 {
  float: right;
  width: 19%;
}
.leftcol20 {
  float: left;
  width: 19%;
}
.rightcol80 {
  float: right;
  width: 79%;
}

/* 3  columns */
.cols3 {
  float: left;
  width: 32%;
  margin-left: 5px;
  margin-right: 5px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* turns off slide numbers for title page: https://github.com/gnab/remark/issues/298 */
.title-slide .remark-slide-number {
  display: none;
}

/* Table Row Highlighting */

.remark-slide table {
  border-collapse: collapse;
}

.remark-slide table thead th {
  border-bottom: 1px solid #666;
}

.remark-slide .inverse table, .remark-slide .inverse table thead th {
  border-top: 3px solid #666;
  border-bottom: 3px solid #666;
}

.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
  background: #d9d9d9;
}

.remark-slide .inverse thead, .remark-slide .inverse tfoot, .remark-slide .inverse tr:nth-child(even) {
  background: transparent;
}

.table-blank tr:nth-child(even) {
  background: transparent;
}

/* ----- FONTS ----- */

body {
  font-family: 'Lato', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

.large {
  font-size: 160%;
}

h1, h2, h3 {
  font-family: 'Exo';
  font-weight: 500;
}

h2, h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.remark-slide-content {
  font-size: 23px;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
}

.title-slide {
  padding: 0;
}

li {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.slimtitle {
  font-family: 'Exo';
  font-weight: 500;
  font-size: 55px;
  margin-block-start: 0em;
  margin-block-end: 0.1em;
}

.inverse h1 {
  font-family: 'Exo';
  font-weight: 800;
  font-size: 2.5em;
}

.remark-code, .remark-inline-code {
  font-family: Monaco, 'Inconsolata', 'Lucida Console', monospace;
}

.fancy{
  font-family: 'Cormorant Upright', serif;
  font-weight: 700;
}

/* Additional font sizes */

.code10 .remark-code {
  font-size: 10%;
}
.code20 .remark-code {
  font-size: 20%;
}
.code30 .remark-code {
  font-size: 30%;
}
.code40 .remark-code {
  font-size: 40%;
}
.code50 .remark-code {
  font-size: 50%;
}
.code60 .remark-code {
  font-size: 60%;
}
.code70 .remark-code {
  font-size: 70%;
}
.code80 .remark-code {
  font-size: 80%;
}
.code90 .remark-code {
  font-size: 90%;
}
.code100 .remark-code {
  font-size: 100%;
}
.font10 {
  font-size: 10%;
}
.font20 {
  font-size: 20%;
}
.font30 {
  font-size: 30%;
}
.font40 {
  font-size: 40%;
}
.font50 {
  font-size: 50%;
}
.font60 {
  font-size: 60%;
}
.font70 {
  font-size: 70%;
}
.font80 {
  font-size: 80%;
}
.font90 {
  font-size: 90%;
}
.font100 {
  font-size: 100%;
}
.font110 {
  font-size: 110%;
}
.font120 {
  font-size: 120%;
}
.font130 {
  font-size: 130%;
}
.font140 {
  font-size: 140%;
}
.font150 {
  font-size: 150%;
}
.font160 {
  font-size: 160%;
}
.font170 {
  font-size: 170%;
}
.font180 {
  font-size: 180%;
}
.font190 {
  font-size: 190%;
}
.font200 {
  font-size: 200%;
}
